<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] L | R - Válvulas Industriais </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <style>
        #acesso_pvd {
            font-family: monospace;
            backdrop-filter: blur(15px);
            box-shadow: 0 0 5px 1px rgba(255,255,255);
            -webkit-backdrop-filter: blur(10px);
        }

        .a:hover #acesso_pvd {
            color: black;
        }

        .a:active #acesso_pvd {
            color: black;
        }
    </style>

</head>

<body>
   
    <div class="container m-b-0">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>


</body>
</html>
