<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] L | R - Válvulas Industriais </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <style>
        #acesso_pvd {
            font-family: monospace;
            backdrop-filter: blur(15px);
            box-shadow: 0 0 5px 1px rgba(255,255,255);
            -webkit-backdrop-filter: blur(10px);
        }

        .a:hover #acesso_pvd {
            color: black;
        }

        .a:active #acesso_pvd {
            color: black;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>

</head>

<body>
    <header style="margin:0">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color:transparent; background-image: linear-gradient(90deg, #06283D 40%, #256D85 50%, #06283D 100%);">
            <div class="container-fluid">
                <a class="navbar-brand" style="border-right: 2px solid #ccc; padding-right: 10px;" asp-area="" asp-controller="Home" asp-action="Index">LR - Válvulas </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                

                <div style="margin: 0 auto">
                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <div class="btn-group">
                            <ul class="navbar-nav mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Cadastros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Movimentações</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Financeiro</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Configurações</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </header>

    <div class="container m-b-0">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

</body>
</html>
