
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Vibur', cursive;
    font-family: 'Abel', sans-serif;
}

form {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    border: 1px solid #418BCA;
    margin: 2% auto;
    padding: 2%;
    background-image: linear-gradient(-180deg, #fff 98%, #418BCA 98%);
}

    form .con {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 auto;
    }


header {
    margin: 2% auto 10% auto;
    text-align: center;
}

    header h2 {
        font-size: 22px;
        color: #418BCA;
    }

    header p {
        letter-spacing: 0.05em;
    }


.input-item {
    background: #418BCA;
    color: #fff;
    padding: 15px 0px 14px 9px;
    border-radius: 5px 0px 0px 5px;
}

.input-item-pwd {
    background: #418BCA;
    color: #fff;
    padding: 14px 0px 15px 15px;
    border-radius: 5px 0px 0px 5px;
}




#eye {
    background: transparent;
    color: #333;
    margin: 5.9px 0 0 0;
    margin-left: -20px;
    padding: 15px 9px 19px 0px;
    border-radius: 0px 5px 5px 0px;
    float: right;
    position: relative;
    right: 1%;
    top: -.2%;
    z-index: 5;
    cursor: pointer;
}

input[class="form-input"] {
    width: 250px;
    height: 50px;
    margin-top: 2%;
    padding: 15px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    border: 1px solid #418BCA;
}

input[id="txt-input"] {
    width: 250px;
    border: 1px solid #418BCA;
}


input:focus {
    transform: translateX(-2px);
    border-radius: 0px 5px 5px 0px;
}


button {
    display: inline-block;
    color: #fff;
    width: 280px;
    height: 50px;
    padding: 0 20px;
    background: #418BCA;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
}

.submits {
    width: 48%;
    display: inline-block;
    float: left;
    margin-left: 2%;
}


.frgt-pass {
    background: #8D8D8D;
}


.sign-up {
    background: #8D8D8D;
}



button:hover {
    transform: translatey(3px);
    box-shadow: none;
}


button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}

@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(5px);
    }
}
