@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Wisecloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="">
    <style>
       
    </style>
</head>

<body>
    <form action="/Home/Privacy" method="post" class="" style="">
        <div class="row">

            
            
        </div>
    </form>
</body>

</html>


<script>

</script>