@*@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>*@

@*<form>
    <input type="hidden" name="vForm" value="" />
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <a onclick="" class="btn btn-primary active">
                    <span class="bi bi-plus-lg" style="margin:0px 5px 0px -5px;"></span>Novo Cadastro
                </a>
            </div>
        </div>
        <div class="row align-items-end m-t-5">
            <div class="col-md-2">
                <label class="control-label">
                    Filtro
                </label>
                <select name="vTP" id="vTP" class="form-select form-select-sm">
                    <option value="D" selected="">Descrição</option>
                    <option value="T">Título</option>
                </select>
            </div>
            <div class="col-md-4">
                <input id="txtPesq" name="txtPesq" class="form-control form-control-sm">
            </div>
            <div class="col-md-3">
                <button id="btnPesq" class="btn btn_pesq btn-sm btn_mobile text-white">
                    <span class="bi bi-search" style="margin:0px 5px 0px -5px;"></span>Pesquisar
                </button>
            </div>
        </div>
        <div id="yesprint" class="form-group">
            <div class="row m-t-5">

                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered dragColumns">
                            <thead class="bg_padrao text-white fs-10">
                                <tr>
                                    <th style="width:70px" data-nomedb="ID">wwwww</th>
                                    <th style="width:220px" data-nomedb="TITULO">asdasd</th>
                                    <th data-nomedb="DESCRICAO">asdas</th>
                                    <th class="table-acoes"></th>
                                </tr>
                            </thead>

                            <tbody style="font-size:12px;">

                                <tr>
                                    <td class="ID">wwwww</td>
                                    <td>aaassdsd</td>
                                    <td>aaa</td>

                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>*@


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Wisecloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @*

    BRUNO - 14/03/23

    AS DUAS TAGS "META" ABAIXO FORAM ADICIONADAS PARA REDUZIR A VISIBILIDADE DO SITE WISETECGESTAO NAS PESQUISAS DO GOOGLE POR MOTIVOS DE SEGURANÇA

    *@
    <meta name="googlebot" value="noindex,nofollow">
    <meta name="robots" value="noindex,nofollow">

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="~/Content/css/login.css">
    <style>
        /* Extra small devices (phones, 600px and down) */
        @@media only screen and (max-width: 600px) {
            form {
                width: auto
            }

                form .con {
                    flex-direction: column;
                    align-content: center;
                }
        }

        #txt-input-chave {
            text-transform: uppercase !important;
        }
    </style>
</head>

<body>
    <div class="container" style="border:1px solid red">
        <form action="" method="post" class="panel panel-primary" style="border:1px solid green">
            <div class="row" >
                <div class="col-md-12" style="border:1px solid blue">
                    <div style="padding-bottom:12px; border:1px solid yellow; text-align:center">
                        @* <img src="~/Content/images/Logo_LR.jpeg" alt="Wisetec" class="img-responsive center-block" style="margin:5px;">*@
                        <div>
                            <img src="~/Content/images/Logo_LR.jpeg" alt="" class="img-fluid ">
                        </div>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        window.onload = function (e) {
            if (!document.getElementById("txt-input-chave").value) {
                document.getElementById("txt-input-chave").focus();
            }
        }

        function show() {
            var p = document.getElementById('pwd');
            p.setAttribute('type', 'text');
        }

        function hide() {
            var p = document.getElementById('pwd');
            p.setAttribute('type', 'password');
        }

        var pwShown = 0;

        document.getElementById("eye").addEventListener("click", function () {
            if (pwShown == 0) {
                pwShown = 1;
                show();
            } else {
                pwShown = 0;
                hide();
            }
        }, false);
    </script>

</body>
</html>
